h1{
    text-align: center;
    color: red;
}

.first{
    text-align: center;
    font-size: xx-small;
}
.second{
    text-align:center;
    font-size: 250%;
    color: yellow ;
}
    
body{
    background-image: url(image1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 600%;
}
